<!DOCTYPE html>
<html>

<head>
    <title>Record Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="row">
            <h1 style="margin-top: 30px; margin-bottom: 20px; text-align: center;" class="col-sm-12">Thesis Open MHA Record</h1>


            <div class="col-sm-12" style="text-align: center; margin-top: 30px; font-size: 24px;">Record a sound or upload a sound file</div>
            <div id="formats" class="col-sm-12" style="text-align: center; margin-top: 20px; margin-bottom: 20px;">Format: start recording to see sample rate</div>
            <div id="controls" class="col-sm-12">
                <button id="recordButton" class="col-sm-4 btn btn-success">Record</button>
                <button id="pauseButton" class="col-sm-3 btn btn-default" disabled>Pause</button>
                <button id="stopButton" class="col-sm-4 btn btn-warning" disabled>Stop</button>
            </div>
            <div id="wait" class="col-sm-12" style="margin-top: 20px; font-size: 25px; text-align: center;"></div>
            <div class="col-sm-12">
                <img src="static/images.png" alt="Italian Trulli" style="height: 400px; display:block; margin: auto; margin-top: 40px; ">
            </div>
            <form action="http://192.168.100.9:5000/recorder" method="POST" enctype="multipart/form-data" id="form-audio">
                <!-- <input type="submit" /> -->
            </form>
            <div class="col-sm-12" style="text-align: center; margin-top: 30px; margin-bottom: 20px;">Upload a sound file</div>
            <form action="http://192.168.100.9:5000/uploader" method="POST" enctype="multipart/form-data" class="col-sm-12" style="text-align: center;">
                <input type="file" name="file" id="audio_file"/>
                <input type="submit" />
            </form>
        </div>
    </div>

    <script src="{{url_for('static', filename='recorder.js')}}"></script>
    <script src="{{url_for('static', filename='app.js')}}"></script>
</body>

</html>